html {
  @include font();
}

body {
  @include font(1.6rem, 130%, 400);
  @include fields();
  position: relative;
  min-width: $mobile;
  min-height: 100vh;
  margin: 0 auto;
  font-family: $poppins;
  background-color: $white;
  color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

body,
*,
*::before,
*::after {
  box-sizing: border-box;
  // outline-color: $accent;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

svg {
  display: block;
}

main {
  flex-grow: 1;
}

.js-noscroll {
  overflow: hidden;
}
