.catalog {
  margin-bottom: 0;
}

.catalog__container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 72px;
  grid-template-areas: "filter list" ". controls";
  position: relative;
}

.catalog__button {
  display: none;
}

.catalog__filter {
  grid-area: filter;
  max-width: 250px;
}

.catalog__list {
  @include ul();
  grid-area: list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 35px;

  & img {
    max-height: 272px;
  }
}

.catalog__controls {
  padding-bottom: 74px;
  grid-area: controls;
  display: flex;
  justify-content: space-between;
}

.catalog__controls button {
  @include font(16px, 130%, 500);
  font-family: $poppins;
  color: $dark;
  border: none;
  background-color: transparent;
  padding: 0;

  &:hover {
    color: $accent;
    transition: 0.2 ease-in;
  }

  &:active {
    background-color: $brown;
    transition: 0.2 ease-in;
  }
}

.catalog__pages {
  @include ul();
  display: flex;
  justify-content: space-between;
  gap: 13px;
  margin-right: 35px;
}

.catalog__pages li {
  color: $grey;

  &:first-of-type {
    color: $dark;
  }
}

@media (max-width: $desktop) {
  .catalog__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-template-areas: "button" "filter" "list" "controls";
  }

  .catalog__button {
    @include font(16px, 130%, 500);
    grid-area: "button";
    padding: 24px;
    border: none;
    font-family: $poppins;
    display: block;
    cursor: pointer;
    margin-bottom: 50px;
    text-align: center;
    background-color: $accent;
    color: $white;
  }

  .catalog__filter-wrap {
    &--js {
      display: none;
    }

    &--open {
      display: flex;
      padding: 27px 0;
      flex-direction: column;
      width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background-color: $white;
    }
  }

  .catalog__filter-wrap--open .filter {
    max-width: 458px;
  }

  .catalog__filter-wrap--open .filter__close {
    display: block;
    position: absolute;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 2px;
      height: 20px;
      background-color: $white;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index: 100;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 35px;
    margin-bottom: 70px;

    & img {
      max-height: 210px;
      object-fit: cover;
    }
  }

  .catalog__controls {
    padding-bottom: 76px;
  }
}

@media (max-width: $tablet) {
  .catalog__button {
    margin-bottom: 40px;
  }

  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 28px;
    margin-bottom: 45px;
  }

  .catalog__list img {
    height: 136px;
  }

  .catalog__filter-wrap--open {
    align-items: center;
  }

  .catalog__controls {
    margin: 0 auto;
    padding-bottom: 65px;
  }

  .catalog__controls button {
    display: none;
  }

  .catalog__pages {
    gap: 23px;
    margin-right: 0;
  }
}
