.footer {
  background-color: $black;
  color: $white;
  margin-top: auto;
  padding-top: 90px;
  padding-bottom: 100px;
}

.footer__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: content-box;
  display: flex;
}

.footer__subscribe {
  width: 500px;
  margin-right: 90px;
}

.footer__nav-links {
  @include ul();
  padding: 6px 0 0;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 21px;
  width: 15%;

  &:nth-of-type(2) {
    margin-left: 20px;
    margin-right: 50px;
  }
}

.footer__nav-link {
  @include a();
  text-align: left;

  &:hover {
    color: $accent;
    transition: 0.2 ease-in;
  }

  &:active {
    color: $grey;
    transition: 0.2 ease-in;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

@media (max-width: $desktop) {
  .footer {
    padding-top: 50px;
    padding-bottom: 54px;
  }

  .footer__container {
    padding: 0 150px 0 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__subscribe {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 44px;
    margin-right: 0;
  }

  .footer__nav-links {
    gap: 22px;
    padding-top: 0;
    width: unset;
    margin: 0;

    &:nth-of-type(2) {
      margin-left: 90px;
      margin-right: auto;
    }
  }

  .footer__nav-link {
    text-align: left;
    word-break: keep-all;
  }
}

@media (max-width: $tablet) {
  .footer__container {
    flex-direction: column;
    padding: 0 15px;
  }

  .footer__social {
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0;
    gap: 0;
  }

  .footer__nav-links {
    margin-bottom: 44px;

    &:nth-of-type(2) {
      margin: 0 0 46px;
    }
  }
}
