.new {
  margin-bottom: 118px;
}

.new__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.new__container h2 {
  @include font(3.4rem, 130%, 700);
  @include fields();
  font-family: $cormorant;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: normal;
  margin-bottom: 22px;
}

.new__page-link {
  margin-bottom: 64px;
}

.new__slider {
  margin-bottom: 50px;
}

.new__inner {
  @include ul();
  display: flex;
  flex-shrink: 1;
}

.new__bullets {
  @include ul();
  display: flex;
  justify-content: center;
  gap: 8px;
}

@media (max-width: $desktop) {
  .new {
    margin-bottom: 65px;
  }

  .new__container h2 {
    margin-bottom: 20px;
  }

  .new__page-link {
    margin-bottom: 56px;
  }

  .new__slider {
    margin-bottom: 40px;
  }
}

@media (max-width: $tablet) {
  .new {
    margin-bottom: 56px;
  }

  .new__container h2 {
    margin-bottom: 18px;
  }

  .new__page-link {
    margin-bottom: 45px;
  }

  .new__slider {
    margin-bottom: 32px;
  }
}
